<span class="@Class align-middle">
    <span class="material-symbols-rounded">
        @Name
    </span>
</span>


@code {

    [Parameter]
    public string Class { get; set; } = "icon";

    [Parameter]
    public string Name { get; set; } = "";
}
