@inherits CmsComponentBase

@if (IsLoggedIn(Role.Moderator))
{
    <div class="content-item width75 triple-padding">
        <label>
            @Translations!["Username:"]
            <input type="text"
               @bind="@Username"
                   autofocus />
        </label>

        <br />

        <button class="normal-button triple-padding" @onclick="@UnBanUser">
            @Translations!["Unban user"]
        </button>

    </div>
}


@code {
    public string Username { get; set; } = "";

    public async Task UnBanUser()
    {
        if (IsLoggedIn(Role.Moderator))
        {
            if (string.IsNullOrWhiteSpace(Username))
            {
                var parametersInfo = new ModalParameters()
                    .Add("Message", Translations!["Username is required."].ToString());
                Modal?.Show<InfoModal>("", parametersInfo);
                return;
            }

            var unBanUser = await UserModel.UnBan(CurrentPage?.LoginInfo.AccessToken, Username);

            if (unBanUser.Status.Equals(false))
            {
                await Error(false);
                return;
            }

            var parametersSuccess = new ModalParameters()
                .Add("Message", Translations!["User unbanned."].ToString());
            Modal?.Show<InfoModal>("", parametersSuccess);
            Username = "";
        }
    }
}
