@inherits CmsComponentBase

<a href="@(String.Format(Redirect, Username))" class="no-decoration">
    <div class="user-plate">
        <a href="@(String.Format(Redirect, Username))" class="no-decoration">
            <img src="img/@Avatar" />
            <span class='@(HideUsernameMobile ? "mobile-hidden" : "")'>@Username</span>
        </a>
    </div>
</a>

@code
{
    [Parameter] public string Username { get; set; } = "";
    [Parameter] public string Avatar { get; set; } = "";
    [Parameter] public bool HideUsernameMobile { get; set; } = false;
    [Parameter] public string Redirect { get; set; } = "/profile/{0}";
}