@inherits CmsPageBase

@page "/user/change-password"

<PageTitle>@Translations!["Change password"] - @Cms.System?.SystemName</PageTitle>

@if (IsNotLoggedIn())
{
    <IndexPageRedirect />
}

@if (IsLoggedIn())
{
    <div class="content-item width75 triple-padding column">
        <EditForm Model="@PasswordValidation" OnValidSubmit="@Change">
            <label>
            @Translations!["New password:"]
                <InputText @bind-Value="@PasswordValidation.Password"
                           type="password"
                           Placeholder=@Translations!["Your new password"] />
            </label>


            <button type="submit" class="normal-button triple-padding">
                @Translations!["Change"]
            </button>

            <DataAnnotationsValidator />
            <ValidationSummary />
        </EditForm>
    </div>
}

@code {
    private PasswordValidation PasswordValidation { get; set; } = new PasswordValidation();

    private async Task Change()
    {
        if (UserModel.IsActive(CurrentPage?.LoginInfo.AccessToken) && await ReCaptchaOrContinue())
        {
            var changePassword = await UserAccessModel.UpdatePassword(CurrentPage?.LoginInfo.AccessToken, PasswordValidation.Password);

            if (changePassword.Status)
            {
                if (Modal != null)
                {
                    var parameters = new ModalParameters()
                        .Add("Message", Translations!["Password changed."].ToString());
                    var modal = Modal.Show<InfoModal>("", parameters);
                    var getResponse = await modal.Result;
                }
                Navigation?.NavigateTo("/settings", true);
                return;
            }
            else
            {
                await Error();
            }
        }
    }
}