@inherits CmsPageBase

@page "/user/change-email"

<PageTitle>@Translations!["Change email"] - @Cms.System?.SystemName</PageTitle>

@if (IsNotLoggedIn())
{
    <IndexPageRedirect />
}

@if (IsLoggedIn())
{
    <div class="content-item width75 triple-padding column">
        <EditForm Model="@EmailValidation" OnValidSubmit="@Change">
            <label>
                @Translations!["New email:"]
                <InputText @bind-Value="@EmailValidation.Email"
                           type="text"
                           Placeholder=@Translations!["Your new email"] />
            </label>


            <button type="submit" class="normal-button triple-padding">
                @Translations!["Change"]
            </button>

            <DataAnnotationsValidator />
            <ValidationSummary />
        </EditForm>
    </div>
}

@code {
    private EmailValidation EmailValidation { get; set; } = new EmailValidation();

    private async Task Change()
    {
        if (UserModel.IsActive(CurrentPage?.LoginInfo.AccessToken) && await ReCaptchaOrContinue())
        {
            var changeEmail = await UserAccessModel.UpdateEmail(CurrentPage?.LoginInfo.AccessToken, EmailValidation.Email);

            if (changeEmail.Status)
            {
                if (Modal != null)
                {
                    var parameters = new ModalParameters()
                        .Add("Message", Translations!["Email changed."].ToString());
                    var modal = Modal.Show<InfoModal>("", parameters);
                    var getResponse = await modal.Result;
                }
                Navigation?.NavigateTo("/settings", true);
                return;
            }
            else
            {
                await Error();
            }
        }
    }
}