@inherits CmsPageBase

@page "/contact"

<PageTitle>@Translations!["Contact"] - @Cms.System?.SystemName</PageTitle>

<div class="content-item width75 header-center paragraph-justify triple-padding">
    @((MarkupString)(Cms.System?.Contact ?? ""))
</div>