@inherits CmsPageBase

@page "/language"

<PageTitle>@Translations!["Language change"] - @Cms.System?.SystemName</PageTitle>

<div class="content-item triple-padding header-center">
    <h1>@Translations!["Change your language:"]</h1>
    <select @bind="CurrentCulture">
        @foreach (var culture in SupportedCultures)
        {
                <option value="@culture">@culture.DisplayName</option>
        }
    </select>
</div>

@code
{
    private List<CultureInfo> SupportedCultures { get; } = new List<CultureInfo>();
    private CultureInfo CurrentCulture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                string uri = new Uri(Navigation.Uri)
                    .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
                string cultureEscaped = Uri.EscapeDataString(value.Name);
                string uriEscaped = Uri.EscapeDataString(uri);

                Navigation.NavigateTo(
                    $"set-language?culture={cultureEscaped}&redirect={uriEscaped}",
                    forceLoad: true);
            }
        }
    }

    protected override void OnInitialized()
    {
        CurrentCulture = CultureInfo.CurrentCulture;

        foreach (var culture in Cms.Language.SupportedCultures)
        {
            SupportedCultures.Add(new CultureInfo(culture));
        }
    }

}