@inherits CmsPageBase

@page "/messages"

<PageTitle> @Translations!["Latest messages"] - @Cms.System?.SystemName</PageTitle>

@if (IsNotLoggedIn())
{
    <IndexPageRedirect />
}

@if (_canShow && IsLoggedIn())
{
    <div class="content-item width75 header-center paragraph-center triple-padding">
        <h1>@Translations!["Latest messages"] <Icon Name="chat" /></h1>
        @if (_users.Count == 0)
        {
                    <p>@Translations!["No conversations found."]</p>
        }
        else
        {
            <span class="center-list">
                @foreach (var user in _users)
                {
                    <span class="user-list-item">

                        <UserPlate Username="@user.Username"
                                   Avatar="@user.Avatar"
                                   Redirect="message/{0}" />

                    </span>
                }
            </span>
        }
    </div>
}


@code
{
    private bool _init = true;
    private bool _canShow = false;

    private List<UserModel> _users = new List<UserModel>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (_init && IsLoggedIn())
        {
            _init = false;

            string? accessToken = CurrentPage?.LoginInfo.AccessToken;

            var getLatestMessagesUser = await MessageModel.GetUsersLatest(accessToken);

            if (getLatestMessagesUser.Status.Equals(false) || getLatestMessagesUser.Result == null)
            {
                await Error();
                return;
            }

            _users = (List<UserModel>)getLatestMessagesUser.Result;

            _canShow = true;
            await InvokeAsync(StateHasChanged);
        }
    }
}