@inherits CmsPageBase

@page "/not-found"

<PageTitle>Not found - @Cms.System?.SystemName</PageTitle>

<div class="paragraph-center">
    <p role="alert" class="content-item triple-padding">Page not found.</p>
</div>