@inherits CmsPageBase

@page "/tos"

<PageTitle>@Translations!["Terms of service"] - @Cms.System?.SystemName</PageTitle>

<div class="content-item width75 header-center paragraph-justify triple-padding">
    @((MarkupString)(Cms.System?.TermsOfService ?? ""))
</div>