@inherits CmsComponentBase

<footer id="footer" class="box-content">
    <div id="footer-inner">
        <p id="footer-info"> &copy; @Cms.System?.SystemName @DateTime.UtcNow.Year</p>
        <p id="footer-created">
            @Translations!["CMS by"]
            <a href="https://github.com/kwyzgol" target="_blank">kwyzgol</a>
        </p>
    </div>
</footer>