main {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

input {
    text-align: center;
}

.color-red {
    color: red;
}

.color-orange {
    color: orange;
}

.color-green {
    color: green;
}