@inherits CmsModalBase

<h1 class="font-color-error"><Icon Name="warning" /> Error</h1>
<p>@ErrorMessage</p>

@code {
    private string ErrorMessage => 
        string.IsNullOrEmpty(Message) ? 
            "An unexpected error has occurred. " +
            "Please try again later or contact the website administrator." : 
            Message;

}
