@inherits CmsModalBase

<h1 class="font-color-error"><Icon Name="warning" /> @Translations!["Error"]</h1>
<p>@ErrorMessage</p>

@code {
    private string ErrorMessage => 
        string.IsNullOrEmpty(Message) ? 
            @Translations!["An unexpected error has occurred. " +
            "Please try again later or contact the website administrator."] : 
            Message;

}
